<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Layouts/Head.ejs') %>
    <style>
      .login-half-bg {
        background: url(../assets/images/auth/login-bg.jpg) !important;
        background-size: cover !important;
      }
    </style>
</head>

<body>
  <div class="container-scroller d-flex">
    <div class="container-fluid page-body-wrapper full-page-wrapper d-flex">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <a class="sidebar-brand brand-logo icon__content--link" href="/" style="margin-bottom: 0;">
                <div class="icon__content--logo">
                  <h3>
                    Thích Phim .net
                  </h3>
                </div>
                <span class="icon__content--logo--star">
                  <i class="fas fa-star"></i>
                </span>
              </a>
              <h4>Welcome back!</h4>
              <h6 class="font-weight-light">Happy to see you again!</h6>
              <form class="pt-3" method="POST" action="/oadmin/login?_method=POST">
                <div class="form-group">
                  <label for="exampleInputEmail">Email của bạn</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="email" name="email" class="form-control form-control-lg border-left-0" required
                      id="exampleInputEmail" placeholder="VD:admin@gmail.com">
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword">Password</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="fa fa-key" aria-hidden="true"></i>
                      </span>
                    </div>
                    <input type="password" name="password" class="form-control form-control-lg border-left-0" required
                      id="exampleInputPassword" placeholder="Password của bạn!">
                  </div>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="my-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                    type="submit">LOGIN</button>
                </div>
                <div class="mb-2 d-flex">
                  <button type="button" class="btn btn-facebook auth-form-btn flex-grow mr-1">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook
                  </button>
                  <button type="button" class="btn btn-google auth-form-btn flex-grow ml-1">
                    <i class="fa fa-envelope" aria-hidden="true"></i> Google
                  </button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="/" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-none d-lg-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Lập trình viên Vượng-Nhất Dev
            </p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <%- include ('./Layouts/Jsfooter.ejs') %>

</body>

</html>