@keyframes spin {
  0% {
    color: #d95454;
    transform: rotate(0deg);
  }
  100% {
    color: rgb(200, 200, 1);

    transform: rotate(360deg);
  }
}

.icon__content--logo {
  h3 {
    line-height: 68px;
    background: linear-gradient(to right, #ff8a00, #ff2070);
    -webkit-background-clip: text; /* Safari, Chrome, Opera */
    -moz-background-clip: text; /* Firefox */
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Safari, Chrome, Opera */
    -moz-text-fill-color: transparent; /* Firefox */
    font-weight: 700;
  }
}
.icon__content--logo--star {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 4px;
  i {
    animation: spin 6s linear infinite;
  }
}

.icon__content--link {
  display: flex;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
