<footer class="footer" style=" background: #262626;">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            <a class="sidebar-brand brand-logo icon__content--link" href="/">
                <div class="icon__content--logo">
                    <h3>
                        Thích Phim
                    </h3>
                </div>
                <span class="icon__content--logo--star">
                    <i class="fas fa-star"></i>
                </span>
            </a>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Có lỗi xin vui lòng, Liên hệ admin:
                <span style="color: red; ">vuong.dev.247@gmail.com</span>
            </span>
    </div>
</footer>