<div class="page-header flex-wrap">
    <h3 class="mb-0"> Thêm mới
        <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">
            Hãy thêm mới đúng các trường bên dưới
        </span>
    </h3>
    <div class="d-flex">
        <a href="/oadmin/movie">
            <button type="button" class="btn btn-warning btn-rounded "><i
                    class="mdi mdi-chevron-double-left btn-icon-prepend"></i> Quay lại </button>
        </a>
        <a href="/oadmin/movie/edit">
            <button type="button" class="btn btn-sm bg-danger btn-success btn-icon-text border">
                <i class="mdi mdi-pen btn-icon-prepend"></i> Thêm mới</button>
        </a>
        <button type="button" class="btn btn-sm ml-3 btn-success">
            <i class="mdi mdi-close-circle btn-icon-prepend"></i> Xoá
            phim</button>
    </div>
</div>