<div class="page-header flex-wrap">
    <h3 class="mb-0"> Quản lý phim
        <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">
            <div class="input-group" bis_skin_checked="1">
                <input type="text" class="form-control" placeholder="Tìm phim..." aria-label="Tìm phim..."
                    aria-describedby="basic-addon2">
                <div class="input-group-append" bis_skin_checked="1">
                    <button class="btn btn-sm btn-primary" type="button"> Tìm kiếm</button>
                </div>
            </div>
        </span>
    </h3>
    <div class="d-flex">
        <a href="/oadmin/movie" class="d-block pr-3">
            <button type="button" class="btn btn-warning btn-rounded "><i
                    class="mdi mdi-chevron-double-left btn-icon-prepend"></i> Quay lại </button>
        </a>
        <a href="/oadmin/movie/add"><button type="button" class="btn btn-sm bg-danger btn-success btn-icon-text border">
                <i class="mdi mdi-calendar-plus btn-icon-prepend"></i> Thêm mới phim</button></a>
        <a href="/oadmin/movie/edit">
            <button type="button" class="btn btn-sm bg-primary btn-success btn-icon-text border ml-3">
                <i class="mdi mdi-pen btn-icon-prepend"></i> Cập nhật</button>
        </a>
        <button type="button" class="btn btn-sm ml-3 btn-success">
            <i class="mdi mdi-close-circle btn-icon-prepend"></i> Xoá
            phim</button>
    </div>

</div>
<div class="card">
    <div class="card-body">
        <h4 class="cart-title py-4">
            <i class="mdi mdi-account-card-details pr-1 "></i> Thông tin chi tiết về phim
        </h4>
        <div class="border-top border-bottom p-2">
            <h5 class="card-title d-flex ">
                Tiêu đề phim: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Tác giả : <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Diễn viên: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Thể loại: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Ngày sản xuất: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Thời lượng phim: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Người đăng: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Tóm tắt phim: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                mô tả: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Hình ảnh liên quan: <p class="card-description pl-2">thông tin</p>
            </h5>
            <h5 class="card-title d-flex ">
                Video phim: <p class="card-description pl-2">thông tin</p>
            </h5>
        </div>
    </div>


</div>